@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&family=Momo+Signature&display=swap");

body {
	margin: 0;
	background-color: #181818;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	background-image: url(images/pink_rice.png);
	background-position: top right;
}

header {
	height: 50000px; /*size of site*/
}

.navigation {
	width: calc(100% - 10px);
	height: 190px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	padding-left: 45px;
	position: fixed;
	background-image: url(images/header.svg);
	background-repeat: repeat-x;
}

.navigation li {
	display: inline;
	padding-right: 80px;
}

.navigation a {
	color: #efdfdf;
	text-decoration: none;
	font-family: "Abril Fatface", serif;
	font-size: 20px;
}

.navigation a:hover {
	color: #e8b7c3;
	text-decoration: underline;
}

.navigation h1 {
	font-size: 70px;
}

.logo {
	display: flex;
	align-items: center;
	color: #efdfdf;
	padding-left: 450px;
	font-family: "Abril Fatface", serif;
	font-style: normal;
	padding-bottom: 25px;
}
.logo h1 {
	font-weight: 100;
}
.logo p {
	padding-left: 10px;
	padding-top: 15px;
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 50px;
}

header {
	padding-top: 200px;
	font-size: 70px;
	margin-left: 50px;
}

.intro p {
	/*intro text deco*/
	font-size: 25px;
	font-family: "Abril Fatface", serif;
	margin-top: 100px;
	margin-left: -230px;
	margin-right: 50px;
}

.intro h2 {
	font-family: "Dancing Script", cursive;
	font-size: 50px;
	font-weight: bolder;
	margin-bottom: 30px;
	text-decoration: underline;
	margin-top: -200px;
	margin-left: 30px;
}
.intro {
	display: flex;
	align-items: center;
}

.intro img {
	width: 15%;
	height: 15%;
	margin-top: 30px;
}

/*
how to link pages to ul
*/
